.header img{
  display: block;
  margin:80px auto;
  border: 7px solid gray;
  border-radius: 50%;
  animation: spin .3s infinite 10s linear;
}

@keyframes spin{
  0%{
    transform:none;
  }

  100%{
    transform:rotate(360deg);
  }
}

body h1{
  text-align:center;
}